h2{
	font-family:Verdana, sans-serif;
}
.button{
	background-color:#DCDCDC;
	width: 80px;
	height:30px;
	border:2px solid grey;
	color:black;
}
.button:hover{
	background-color:#F5F5F5;
}
select{
	background-color:#F5F5F5;
	width:240px;
	border:2px solid grey;
	padding-top:2px;
	padding-left:10px;
	padding-bottom:2px;
}